/.idea
/.vs
/.vscode
/.xmake
/bundle/packed
/bundle/source/archive
/bundle/*.xml
/bundle/*.zip
/bundle/custom_refs.txt
/bundle/fileTreeState.json
/build
/build-macos
/dev
.cursor/
.DS_Store
/src/App/Project.hpp
/src/App/Version.rc
/tools/wkit/layout.xml
__pycache__
CMakeLists.txt
